<%= form_for @parent, html: { :class => 'form-inline' } do |f| %>
    <div class="form-group">
        <%= f.label :xcode %>
        <%= f.text_field :xcode, :class => 'form-control' %>
    </div>
<% end %>

<!--<form class="form-inline">-->
<!--<div class="form-group">-->
<!--<label for="xcode">XCode</label>-->
<!--<input name="xcode" class="form-control" type="text" />-->
<!--</div>-->
<!--</form>-->