<%= form_for @parent, html: { :class => 'form-inline' } do |f| %>
    <div class="form-group">
        <%= f.label :xpath %>
        <%= f.text_field :xpath, :class => 'form-control' %>
    </div>
<% end %>