<h2>
    Profile
</h2>

<div style="margin-bottom: 10px">
    <%= render 'form' %>
</div>

<%= render 'node_parent' %>

<div id="node-children">
    <% @children.each do |node| %>
        <%= render 'node_child', :child => node %>
    <% end %>
</div>

<%= link_to '<span class="glyphicon glyphicon-plus-sign"></span> Child'.html_safe,
            child_profile_path,
            :remote => true,
            :method => :post,
            :class => 'btn btn-default' %>
