<p id="notice"><%= notice %></p>

<p>
  <strong>Ref:</strong>
  <%= @articy_draft.ref %>
</p>

<%= link_to 'Edit', edit_articy_draft_path(@articy_draft) %> |
<%= link_to 'Back', articy_drafts_path %>
