<h1>ADNC Tools</h1>
<p>Tools for processing Articy: Draft XML data into swallowable JSON files for an HTML5 application</p>

<p>File upload and submission form here (probably should submit to an action in home to create multiple tags).</p>

<h2>Upload Articy: Draft Export</h2>
<%= render 'articy_drafts/form' %>