// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sample {
    max-height: 100px;
    overflow: hidden;
    
    &.active, &:hover {
        max-height: none;
        overflow: auto;
    }
}

.panel-heading {
    position: relative;
}

.status {
    display: inline-block;
    width: 20px;
    border: 1px solid white;
    height: 20px;
    background: green;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
    
    &.loading {
        background: yellow;
    }
    
    &.error {
        background: red;
    }
}